@model CRUDMCV.Models.Person
@{
    ViewBag.Title = "Home Page";
}

<hr />
@using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormData" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Partner, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Partner, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Partner)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Income, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Income, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Income)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
}






@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/myscript")
}